###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
public/assets/js/fontawesome.js
public/assets/js/jquery.min.js
/var/
/vendor/
*.jpg
*.jpeg
*.png
*.gif
.env
###< symfony/framework-bundle ###
